# Ignore all Python files in all directories excetpt those starting with test_ or ini_
**/*.py
!**/test_*.py
!**/ini_*.py

!**/__other
!P5/trees/tree_nodes.py
# Ignore all compiled Python files in all directories
**/*.pyc
**/*:Zone.Identifier

# Ignore additional files and directories
__pycache__/
P1/convert_alignment/abc*
P1/convert_alignment/prep/
P6/gotoh/steb-by-step_gotoh.txt
.vscode/*
